li,a {
    text-decoration: none;
    font-family: 'Trebuchet MS';
}

.nav_links li {
   display: inline-block;
   margin: 0px 10px;

}

.nav_links li a:hover {
    color:#fc202b
}
.fas , fa-home {
    font-size: 50px;
    color: rgb(15, 14, 15);
    margin:  0px 20px;
}